/* FOR SPEAKERS.HTML */
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1,
h2, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, p {
  margin-bottom: 22px; }

h1, h2 {
  color: #648880;
  font-size: 36px;
  line-height: 44px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 21px; }

h4 {
  font-size: 18px; }

h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400; }

strong {
  font-weight: 400; }

cite, em {
  font-style: italic; }

a {
  color: #648880; }
  a:hover {
    color: #a9b2b9;
    transform: scale(1.2); }

body {
  font: 300 16px/22px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.logo {
  font-size: 2em;
  line-height: 44px; }

.lead {
  text-align: center; }

.lead p {
  font-size: 21px;
  line-height: 33px; }

/* SECTION */
.hero {
  line-height: 44px;
  color: #fff;
  text-align: center; }
  .hero h2 {
    font-size: 36px; }
  .hero p {
    font-size: 24px; }

.teaser a:hover {
  color: #a9b2b9; }

.primary-footer a {
  color: #fff; }
  .primary-footer a:hover {
    color: #648880; }

/* FOOTER */
.primary-footer {
  color: #648880;
  font-size: 14px; }
  .primary-footer a {
    color: #fff; }
    .primary-footer a:hover {
      color: #648880; }
  .primary-footer small {
    font-weight: 400; }

@media (max-width: 480px) {
  .container .logo {
    float: none;
    text-align: center;
    font-size: 1.5em;
    margin: 0 auto; }
  .container .tagline {
    text-align: center;
    margin: 20px auto;
    font-size: 1.2em; }
  .container .primary-nav {
    display: inline-block; }
  .hero {
    line-height: 1.2em; }
    .hero h2 {
      font-size: 1.8em; }
    .hero p {
      font-size: 1.2em; } }

/*make grid*/
.container {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  width: auto; }

.grid {
  padding-left: 15px;
  padding-right: 15px;
  width: auto; }

/* CLEARFIX */
.group {
  clear: both; }
  .group:before {
    display: table;
    content: ""; }
  .group:after {
    clear: both; }

@media (max-width: 480px) {
  .grid {
    padding-left: 0;
    padding-right: 0; } }

@media (min-width: 1281px) {
  .wrap-container {
    max-width: 1300px;
    margin: 0 auto; } }

.photo {
  width: auto; }
  .photo img {
    border-radius: 5px;
    display: block;
    margin-bottom: 22px;
    width: 100%; }

.card-container {
  position: relative;
  width: auto;
  -webkit-perspective: 600;
  perspective: 600;
  height: 300px; }

.card {
  height: auto;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 100%; }
  .card:hover {
    transform: rotateY(180deg); }

.card .side {
  backface-visibility: hidden;
  height: 100%;
  position: absolute;
  width: 100%; }

body {
  background-color: #293f50;
  color: #888; }

/* BUTTONS */
.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: .5px;
  text-transform: uppercase; }
  .btn-alt {
    border: 1px solid #dfe2e5;
    padding: 10px 30px; }
    .btn-alt:hover {
      background: #fff;
      color: #648880; }

/* HEADER */
.logo {
  border-top: 4px solid #648880;
  padding: 40px 0 22px 0;
  float: left; }

.tagline {
  margin: 66px 0 22px 0;
  text-align: right; }

.primary-nav {
  font-size: 14px;
  font-weight: 400; }

.nav li {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top; }
  .nav li:last-child {
    margin-right: 0; }

/* SECTION */
.hero {
  padding: 22px 80px 66px 80px; }

.col-1-3, .col-2-3 {
  padding: 0 15px;
  display: inline-block;
  vertical-align: top; }

.col-1-3 {
  width: 33.33%; }

.col-2-3 {
  width: 66.66%; }

.row {
  background: #fff;
  padding: 66px 0 44px 0; }
  .row-alt {
    background: #cbe2c1;
    background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
    background: linear-gradient(to right, #a1d3b0, #f6f1d3);
    padding: 44px 0 22px 0; }

.photo {
  width: auto; }
  .photo img {
    border-radius: 5px;
    display: block;
    margin-bottom: 22px;
    width: 100%; }

/* FOOTER */
.primary-footer {
  padding-top: 44px;
  padding-bottom: 44px;
  position: relative; }
  .primary-footer small {
    float: left; }

#button-up {
  background: url("../image/tools/button-up.png") no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;
  position: absolute;
  display: none;
  left: 80%;
  top: 1  0%; }

/* SPEAKERS.html */
/* SECTION */
.speaker {
  margin-bottom: 44px; }
  .speaker-info {
    border: 1px solid #dfe2e5;
    border-radius: 5px;
    margin-top: 88px;
    padding: 22px 0;
    text-align: center; }

.speaker-photo {
  width: auto; }
  .speaker-photo img {
    border-radius: 50%;
    height: 130px;
    margin: -66px 0 22px 0;
    vertical-align: top;
    width: auto; }

@media (max-width: 480px) {
  .col-1-3 {
    width: auto;
    margin: 0 auto; }
  .col-2-3 {
    width: auto; }
  .speaker-info {
    padding-top: 0; }
  .hero {
    padding: 20px 0; }
  .row-alt {
    padding: 10px 0; }
  /* REGISTER.HTML */
  form .col-1-3 {
    width: auto; }
  form .register-group input[type="button"] {
    display: block;
    width: 200px; }
  form .register-group label {
    display: block;
    margin-bottom: 1em; } }
