/* mixin font */
@mixin font($src, $font-weight, $font-style, $font-family: null){
	font-family: $font-family;
	src: $src;
	font-weight: $font-weight;
	font-style: $font-style;
}

/* mixin text */
@mixin text($size: 1.2em, $line-height: 1.2em, $weight: normal, $color: null){
	font-size: $size;
	line-height: $line-height;
	font-weight: $weight;
	color: $color;
}

@mixin mq-small{
	@media (max-width: $screen_small){
		@content;
	}
}
@mixin mq-medium{
	@media (min-width: $screen_small + 1px) and (max-width: $screen_medium){
		@content;
	}
}
@mixin mq-large{
	@media (min-width: $screen_medium + 1px){
		@content;
	}
}