$white_color: white;
$black_color: black;
$yellow_color: yellow;

$header_font_color: $white_color;
$copy_color: $white_color;
$footer_color: $black_color;
$nav_a_color: #8B259F;
$btn_color: #1F6FD6;
$input_color: #F9F3B2;
$tour_tr_color: #FFECB7;

$screen_small: 480px;
$screen_medium: 768px;
$screen_large: 1280px;