.footer{
	width: 100%;
	// margin: 0 0 0 0;
	margin-bottom: 1em;
	.footer-lst{
		padding: 0;
	}
	.page-footer{
	background-color: $footer_color;
	width: 100%;
	
	@include mq-large{
		.footer-lst {
			width: 100%;
			// display: inline-block;
			li{
				padding: .8em 50%;
				// width: 100%;
			}
			a{
				transiton-property: text-shadow;
				transition-duration: .3s;
				transition-delay: .1s;
			}
			a:hover{
				// -webkit-transform: scale(1.2);
				// -moz-transform: scale(1.2);
				// transform: scale(1.2);
				text-shadow: 0 0 1px $yellow_color;
			}
		}
	}
	@include mq-medium{
		.footer-lst{
			
			li{
				padding: .6em 50%;
			
				&:active{
					transform: scale(1.2);
				}
			}

		}
	}
	@include mq-small{
		.footer-lst{
			margin-left: 12%;
		}
	}
}

}