.container{
	// smartphone layout
	max-width: 100%;
	@include mq-large{
		max-width: 1280px;
		margin: 0 auto;
		margin-top: 1.5em;
			
		.sidebar{
			width: 20%;
		}
		.main{
			width: 64%;
		}
		.content{
			width: 16%
		}
		.sidebar{
			float: left;
			
		}
		
		.content{
			float: right;
		}
		.main{
			float: left;
		}

	}
	// tablet devices
	@include mq-medium{
		
		.sidebar{
			float: none;
		}
		.main{
			width: auto;
			float: none;
		}
		.content{
			display: none;
		}
	}

	// smartphones
	@include mq-small{
		padding: .7em 1%;
		.sidebar{
			float: none;
		}
		.main{
			// width: auto;
		}
		.content{
			display: none;
		}
	}
}
